{{#each players.players}}

  <h2> Name: {{given_name}} {{surname}}</h2>
  <h3> Team: {{team}} </h3>
  <h4> Position: {{position}} </h4>

<button id={{id}} class="add_player_button"> Add {{given_name}} </button>

{{/each}}









<!-- <ul>
  <li>Points Per Game: {{points_per_game}} </li>
  <li>Rebounds Per Game: {{rebounds_per_game}} </li>
  <li>Assists Per Game: {{assists_per_game}} </li>
</ul>
<a href="{{twitter}}"><p>twitter</p></a>
<a href="{{instagram}}"><p>instagram</p></a> -->
