{{#each players}}

  <h2> Name: {{player.given_name}} {{player.surname}}</h2>
  <h3> Team: {{player.team}} </h3>
  <h4> Position: {{player.position}} </h4>
  <ul>
    <li>Points Per Game: {{player.points_per_game}} </li>
    <li>Rebounds Per Game: {{player.rebounds_per_game}} </li>
    <li>Assists Per Game: {{player.assists_per_game}} </li>
  </ul>
  <a href="{{player.twitter}}"><p>twitter</p></a>
  <a href="{{player.instagram}}"><p>instagram</p></a>
<button id={{id}} class="remove_player_button"> Remove {{player.given_name}} </button>

{{/each}}
