{{#each players.players}}

  <h1> <small>Name: {{given_name}} {{surname}}</small></h1>
  <h2> Team: {{team}} </h2>
  <h3> Position: {{position}} </h3>
  <ul>
    <li>Points Per Game: {{points_per_game}} </li>
    <li>Rebounds Per Game: {{rebounds_per_game}} </li>
    <li>Assists Per Game: {{assists_per_game}} </li>
  </ul>
  <p>{{twitter}}</p>
  <p>{{instagram}}</p>

  <!-- <div>
    {{#if author}}
      {{author}}
    {{else}}
      No author.
    {{/if}}
  </div> -->

{{/each}}
